<%- include('partials/nav') %>
<div class="container" style="padding: 30px">
<div class="row">
  <div class="col-sm-6 center">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_37lF6EA7ug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
   </div>
  
  </div>
  <div class="col-sm-6 center">
    <h4 style="padding-top: 20px; color: goldenrod;">
      Welcome to Mamlaka Prime Gardens-Malindi
     
    </h4>
   <h5 style="color: goldenrod;">Property Features</h5>
   <ol>
     <li>Just 30 minutes drive from Malindi Town</li>
     <li>3km from tarmac.</li>
     <li>Water and Electricity on site</li>
     <li>Accessible all time</li>
     <li>Farming water available</li>
     <li>The Land is well drained</li>
     <li>Water available for irrigation farming</li>
     <li>Ideal for farming passion fruits,mangoesand hash ovacados</li>  
    </ol>
    <h5 style="color: goldenrod;">Prices</h5>
    <ol>
     <li>1 Acre at 150k</li>
    <li> 5 acres at 750k</li>
    <li> 10 acres at 750k</li>
    <li>Financing with Anchor Premier Sacco option available</li>
    <hr>
  </div>
</div>
<hr/>
<h3 style="color: goldenrod;">Payment Options</h3>
  <p> Most of the time when buying land you are required to pay 40% or 50% of the total amount as deposit. We have zero deposit which stipulate
      that you stand owning the land by paying the total amount in equal monthly installments </p>
      <br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Land Size</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Monthly Installments</th>
            <th scope="col">Period</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1 Acre</th>
            <td>ksh.150,000</td>
            <td>Ksh.12,500</td>
            <td>12 Months</td>
          </tr>
          <tr>
            <th scope="row">5 Acres</th>
            <td>Ksh. 750,000</td>
            <td>Ksh. 62,500</td>
            <td>12 Months</td>
          </tr>
          <tr>
            <th scope="row">10 Acres</th>
            <td>Ksh. 1,200,000</td>
            <td>ksh. 100,000</td>
            <td>12 Months</td>
          </tr>
        </tbody>
      </table>
<br/>
<p> <strong>CALL/SMS/WHATSAPP us today on +254712387334 for more information and a site visit.</strong></p>
<hr/>

<h3 style="color: goldenrod;">Gallery</h3>
<hr/>
<div class="row">
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="/images/mamlakagarden3.jpeg" alt="mamlaka prime gardens malindi" >
    <hr>
  </div>
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="images/mamlakagarden1.jpeg" alt="" >
      <hr>
      <hr>
   </div>
</div>
<div class="row">
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="/images/mamlakagarden2.jpeg" alt="mamlaka prime gardens malindi" >
    <hr>
  </div>
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="images/mamlakadam.jpeg" alt="" >
      <hr>
      <hr>
   </div>
</div>
<div class="row">
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="/images/mamlakflyer1.jpeg" alt="mamlaka prime gardens malindi" >
    <hr>
  </div>
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="images/mamlakf.jpeg" alt="" >
      <hr>
      <hr>
   </div>
</div>
<!-- <div class="row">
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="/images/mamlakagarden1.jpeg" alt="mamlaka prime gardens malindi" >
    <hr>
  </div>
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="images/mamlakazerodeposit.jpeg" alt="" >
      <hr>
      <hr>
   </div>
</div> -->
</div>
</div>
<%- include('partials/footer') %>
