<%- include('partials/nav') %>
<div class="container" style="padding: 30px">
<div class="row">
  <div class="col-sm-6 center">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qRPnPIgKxy4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
   </div>
  
  </div>
  <div class="col-sm-6 center">
    <h4 style="padding-top: 20px;">
      Welcome to Mambrui beach properties-Malindi
     
    </h4>
    <br>
  <p>
   This project is one of its kind as it offers to strategically place investors along the beach to tap into the existing potential and demand for Cottages, Holiday homes and Resorts, Guest houses and hotels in Malindi. 
  </p>
   <p>
    These are opportunities that the strategic position of the land offers.
   </p>
   <br>
   <h5>Property Features</h5>
   <ol>
     <li>500mtrs from Malindi-Lamu highway</li>
     <li>10 minutes drive from Malindi town and touching the ocean</li>
     <li>Next to MAMBRUI Shopping centre & Karibuni Villas,</li>
     <li>Next to Mambrui shopping center</li>
     <li>Next to Kola beach resort</li>
     <li>With beautiful beach sceneries and ocean breeze</li>
     <li> Domestic and foreign tourist destination.</li>
     <li>Ideal for immediate development Holiday Homes, Hotel and accommodation business, Resort and cottages.</li>
     <li>Very affordable. SELLING CASH PRICE OFFER 1/8 ACRE @ KSHS. 1.75M 1/4 ACRE @ KSHS. 2.85M.All payments with options of cash, installments, and instant financing from (Financing Partner) APS Sacco with no security or guarantor required. Site visits are scheduled DAILY from our Malindi town office. Flexible, customized payment options are available.</li>
     
    </ol>
    <p> <strong>CALL/SMS/WHATSAPP us today on +254712387334 for more information and a site visit.</strong></p>
  </div>
</div>
<hr/>
<h3 style="color: goldenrod;">Gallery</h3>
<hr/>
<div class="row">
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="/images/mamburui1.jpeg" alt="mamburui Beach plots" >
    <hr>
  </div>
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="images/mamburui2.jpeg" alt="" >
      <hr>
      <hr>
   </div>
</div>
<div class="row">
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="/images/mamburui3.jpeg" alt="mamburui Beach plots" >
    <hr>
  </div>
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="images/mamburui4.jpeg" alt="" >
      <hr>
      <hr>
   </div>
</div>
<div class="row">
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="/images/mamburui5.jpeg" alt="mamburui Beach plots" >
    <hr>
  </div>
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="images/mamburui6.jpeg" alt="" >
      <hr>
      <hr>
   </div>
</div>
<div class="row">
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="/images/mamburui7.jpeg" alt="mamburui Beach plots" >
    <hr>
  </div>
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="images/mamburui8.jpeg" alt="" >
      <hr>
      <hr>
   </div>
</div>
</div>
</div>
<%- include('partials/footer') %>
