<%- include('partials/nav') %>
<div class="container" >
<div class="row">
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="/images/malindi (2).jpeg" alt="mamburui Beach plots" >
      <h4>Mambrui Beach Plots</h4><hr>
      <h6><strong>Very affordable. SELLING CASH PRICE OFFER 1/8 ACRE @ KSHS. 1.75M 1/4 ACRE @ KSHS. 2.85M<hr>CALL/SMS/WHATSAPP us today on +254712387334 for more information and a site visit.<hr></strong></h6>

    <a href="/products"><button type="button" class="btn btn-info">Read More</button></a>
    <hr>
  </div>
  <div class="col-sm-6 center">
     <img class="img-responsive img-thumbnail" src="/images/malindi (1).jpeg" alt="" >
      <h4>Malindi Anchor Prime Garden</h4>
      <hr>
      <h6><strong>Going For 150k for 1 acre and Booking is 50k <br>CALL/SMS/WHATSAPP us today on +254712387334 for more information and a site visit.</strong></h6>
      <a href="#"><button type="button" class="btn btn-info">Read More</button></a>
      <hr>
   </div>
</div>
   </div>
<%- include('partials/footer') %>
